.slideshow {
  margin: 0 auto;
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 25px;
}
figure {
  border-radius: 25px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  opacity: 0;
  -webkit-animation: slideShow 24s linear infinite 0s;
  -o-animation: slideShow 24s linear infinite 0s;
  animation: slideShow 24s linear infinite 0s;
}
.pic-1 {
  opacity: 1;
  -webkit-background-size: cover;
  background-size: cover;
}
.pic-2 {
  -webkit-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-background-size: cover;
  background-size: cover;
}
.pic-3 {
  -webkit-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
  -webkit-background-size: cover;
  background-size: cover;
}
.pic-4 {
  -webkit-animation-delay: 18s;
  -o-animation-delay: 18s;
  animation-delay: 18s;
  -webkit-background-size: cover;
  background-size: cover;
}

@keyframes slideShow {
  0% {
    border-radius: 25px;
    opacity: 0;
    transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  4% {
    border-radius: 25px;
    opacity: 1
  }
  24% {
    border-radius: 25px;
    opacity: 1;
  }
  28% {
    border-radius: 25px;
    opacity: 0;
    transform: scale(1);
    -ms-transform: scale(1);
  }
  100% {
    border-radius: 25px;
    opacity: 0;
    transform: scale(0.9);
    -ms-transformm: scale(0.9);
  }
}

}
